@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  overflow-x: hidden;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

[hidden] {
  display: none;
}

img {
  width: 100%;
}

body {
  font-family: "Libre Baskerville", serif;
  background-color: #fff;
  color: #000;
  margin: 0;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  position: absolute;
  top: -3em;
  color: #fff;
  background-color: #13CFB0;
  opacity: 0.8;
  padding: .5em;
}

.skip-links a:focus {
  top: 0;
}

header {
  background-image: url("../images/charlie-half.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.nav-background {
  position: absolute;
  z-index: 90;
  top: 0;
  background-color: #13CFB0;
  width: 100%;
  height: 2.5em;
  opacity: 0.7;
  border-bottom: .5px solid black;
  box-shadow: 0px 1px 8px;
}

.nav-links {
  position: relative;
  z-index: 100;
  font-family: 'Yantramanav', sans-serif;
  width: 100%;
  padding-top: .5em;
  display: block;
  text-align: center;
}

nav {
  position: fixed;
  width: 100%;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  margin: 0 1em;
  font-weight: 500;
  color: black;
}

nav a:hover {
  border-bottom: 6px solid black;
}

/* **********BILLBOARD********** */

h1 {
  display: inline-block;
  margin: 9.5em .5em 0 6.5em;
  color: #000;
  font-weight: 100;
  font-size: 1.5em;
  line-height: 1.25em;
}

br {
  display: none;
}

.social-media-top {
  display: none;
}

.email {
  width: 3em;
  height: 2em;
  background-image: url("../images/email-white.svg");
  background-repeat: no-repeat;
  margin-left: .25em;
}

.email:hover {
  background-image: url("../images/email-teal.svg");
}

.linkedin {
  width: 2.25em;
  height: 2.25em;
  background-image: url("../images/linkedin-white.svg");
  background-repeat: no-repeat;
}

.linkedin:hover {
  background-image: url("../images/linkedin-teal.svg");
}

.twitter {
  width: 2.25em;
  height: 2em;
  background-image: url("../images/twitter-white.svg");
  background-repeat: no-repeat;
}

.twitter:hover {
  background-image: url("../images/twitter-teal.svg");
}

.instagram {
  width: 2.25em;
  height: 2em;
  background-image: url("../images/instagram-white.svg");
  background-repeat: no-repeat;
}

.instagram:hover {
  background-image: url("../images/instagram-teal.svg");
}

.scroll-down {
  position: absolute;
  background-image: url("../images/down-arrow-01.svg");
  background-repeat: no-repeat;
  transition:all .2s ease-in-out;
  bottom: 1em;
  left: 42.5%;
  width: 3em;
  height: 3em;
  cursor: pointer;
  display: block;
  -webkit-animation: scroll-down-moving .5s ease-in-out infinite alternate;
  animation: scroll-down-moving .5s ease-in-out infinite alternate;
}

.scroll-down:hover {
  background-image: url("../images/down-arrow-02.svg");
}

@-webkit-keyframes scroll-down-moving {

  0% {
    -webkit-transform: translateY(0px);
  }

  100% {
    -webkit-transform: translateY(10px);
  }

}

@keyframes scroll-down-moving {

  0% {
    transform: translateY(0px));
  }

  100% {
    transform: translateY(10px);
  }

}

/* **********ABOUT********** */

.about {
  height: 25%;
  background-color: #13CFB0;
  display: inline-block;
  color: white;
  font-size: 1em;
  width: 100%;
}

.about p {
  padding: 0 1.25em;
}

.about a {
  text-decoration: none;
}

.about a:hover,
.about a:focus,
.about a:active,
.about a:visited {
  cursor: pointer;
  color: white;
}

/* **********PORTFOLIO********** */

hr {
  height: 1px;
  width: 100%;
  background-color: #e2e2e2;
  border: 0;
  padding: 0;
}

.portfolio {
  margin: 1em;
}

.item {
  padding: .5em;
  margin: 0;
  transition: all .1s ease;
  transition-property: transform;
}

.item img {
  display: block;
}

.item img:hover,
.item img:focus,
.item img:active {
  cursor: pointer;
}

.item h3,
.item p {
  padding: 0;
 color: blue;
 text-align: center;
}

/*----------MOBILE-LANDSCAPE----------*/
@media only screen and (min-width: 30em) {

  h1 {
    margin: 8em 0em 0 10em;
    font-size: 1.5em;
    line-height: 1.25em;
  }

    br {
    display: block;
  }

}
