@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  overflow-x: hidden;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

[hidden] {
  display: none;
}

img {
  width: 100%;
}

body {
  font-family: "Libre Baskerville", serif;
  background-color: #fff;
  color: #000;
  margin: 0;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  position: absolute;
  top: -3em;
  color: #fff;
  background-color: #13CFB0;
  opacity: 0.8;
  padding: .5em;
}

.skip-links a:focus {
  top: 0;
}

header {
  background-image: url("../images/charlie-half.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

nav {
  width: 100%;
  padding-top: .5em;
  text-align: right;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  padding: 0 .5em;
/*  font-family: sans-serif;*/
  font-weight: 700;
}

.meet-charlie {
  position: absolute;
  left: 9em;
  top: 35%;
}

h1 {
  color: #000;
  font-weight: 100;
  color: #000;
  font-size: 1em;
  line-height: 1.25em;
  text-align: ;
}

.social-media-top {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
}

.social-media-top a {
  opacity: 0.7;
  display: inline-block;
  padding: .3em .3em .6em .3em;
}

.email {
  width: 3em;
  height: 2em;
  background-image: url("../images/email-white.svg");
  background-repeat: no-repeat;
  margin-left: .25em;
}

.email:hover {
  background-image: url("../images/email-teal.svg");
}

.linkedin {
  width: 2.25em;
  height: 2.25em;
  background-image: url("../images/linkedin-white.svg");
  background-repeat: no-repeat;
}

.linkedin:hover {
  background-image: url("../images/linkedin-teal.svg");
}

.twitter {
  width: 2.25em;
  height: 2em;
  background-image: url("../images/twitter-white.svg");
  background-repeat: no-repeat;
}

.twitter:hover {
  background-image: url("../images/twitter-teal.svg");
}

.instagram {
  width: 2.25em;
  height: 2em;
  background-image: url("../images/instagram-white.svg");
  background-repeat: no-repeat;
}

.instagram:hover {
  background-image: url("../images/instagram-teal.svg");
}

.scroll-down {
  position: absolute;
  background-image: url("../images/down-arrow-01.svg");
  background-repeat: no-repeat;
  transition:all .2s ease-in-out;
  bottom: 1em;
  left: 42.5%;
  width: 3em;
  height: 3em;
  cursor: pointer;
  display: block;
  -webkit-animation: scroll-down-moving .5s ease-in-out infinite alternate;
  animation: scroll-down-moving .5s ease-in-out infinite alternate;
}

.scroll-down:hover {
  background-image: url("../images/down-arrow-02.svg");
}

@-webkit-keyframes scroll-down-moving {

  0% {
    -webkit-transform: translateY(0px);
  }

  100% {
    -webkit-transform: translateY(10px);
  }

}

@keyframes scroll-down-moving {

  0% {
    transform: translateY(0px));
  }

  100% {
    transform: translateY(10px);
  }

}

.portfolio {
  margin: 1em;
/*  background-color: yellow;*/
}

.item {
  padding: .5em;
  margin: 0;
  transition: all .1s ease;
  transition-property: transform;
}

.item:hover,
.item:focus,
.item:active {
/*transform: scale(1.04);*/
  cursor: pointer;
/*background-color: #13CFB0;*/
}

.item img {
  display: block;
}

.item h3,
.item p {
  display: none;
}











/*.baked-with-love {
  overflow:hidden;
  position:relative;
}
.baked-with-love iframe{
  left:0;
  top:0;
  width:96.9%;
  height: 99%;
  position:absolute;
  margin: 4px 16px 8px 8px;
  padding-bottom: 16px;
}*/



/*----------MOBILE-LANDSCAPE----------*/
@media only screen and (min-width: 30em) {

  .meet-charlie {
    left: 15em;
  }

  h1 {
    width: 8em;
  }

/*  br {
    display: none;
  }*/

  .social-media-top {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    right: .5em;
  }

}
