/*----------TABLET-PORTRAIT----------*/
@media only screen and (min-width: 48em) {

  .meet-charlie {
    top: 23em;
    left: 18em;
    right: 5em;
  }

  h1 {
    font-size: 3em;
  }

  .bio {
    font-size: 1.25em;
  }

  hr {
    display: none;
  }

  .about hr,
  .contact hr {
    display: block;
  }

  .item h3,
  .item p {
    display: none;
  }

  .nav-links {
  width: 50%;
  text-align: right;
  left: 50%;
  font-size: 1.25em;
  padding-top: .37em;
}

  .nav-links li:last-child {
    margin-right: .25em;
  }

  .nav-background {
/*    background-color: white;*/
  }

  nav a {
    color: black;
  }

  .scroll-down {
    left: 46%;
    width: 4em;
    height: 4em;
  }

  .about p {
    padding: 0 4em;
  }






.opened-description {
  position:fixed;
  top: -100vh;
  left: 0;
  bottom: 0;
  right: 0;
  xdisplay: none;
  height: 100vh;
}

.opened-description:target {
  color: red;
  xdisplay: block;
  top: 0;
}

.image {
  background-color: green;
  position:relative;
  left: -50%;
  transition: all 200ms linear;
  overflow-y: auto;
}

.text {
  background-color: yellow;
  position:relative;
  right: -50%;
  transition: all 200ms linear;
}

.opened-description:target .image {
  left: 0;
}

.opened-description:target .text {
  right: 0;
}





}

/*----------TABLET-LANDSCAPE----------*/
@media only screen and (min-width: 64em) {

  h1 {
    font-size: 3em;
  }



  .scroll-down {
    left: 47%;
    width: 4em;
    height: 4em;
  }

}
