/*----------TABLET-PORTRAIT----------*/
@media only screen and (min-width: 48em) {

  .meet-charlie {
    top: 23em;
    left: 18em;
    right: 5em;
  }

  h1 {
    font-size: 3em;
  }

  .bio {
    font-size: 1.25em;
  }

  hr {
    display: none;
  }

  .item h3,
  .item p {
    display: none;
  }

  .nav-links {
  width: 50%;
  text-align: right;
  left: 50%;
  font-size: 1.25em;
  padding-top: .37em;
}

  .nav-links li:last-child {
    margin-right: .25em;
  }

  .nav-background {
/*    background-color: white;*/
  }

  nav a {
    color: black;
  }

}

/*----------TABLET-LANDSCAPE----------*/
@media only screen and (min-width: 64em) {

  .meet-charlie {
    top: 29em;
    left: 22.5em;
  }

  .br-two {
    display: block;
  }

}
