/* **********DESKTOP********** */
@media only screen and (min-width: 960px) {

  h1 {
    left: 66%;
    top: 45vh;
    font-size: 3em;
  }

  .about {
    width: 33.3%;
    margin: 0 calc((100% - 33.3%) / 2);
  }

}
