<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>The Portfolio of Charlie Quinn</title>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width; initial-scale=1">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Yantramanav:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>
</head>
<body>

  <!-- **********BANNER********** -->

  <ul class="skip-links">
    <li><a href="{{site.baseurl}}/#banner">Skip to Meet Charlie</a></li>
    <li><a href="{{site.baseurl}}/#work">Skip to Work</a></li>
    <li><a href="{{site.baseurl}}/#contact">Skip to Contact</a></li>
  </ul>

  <header class="banner" id="banner">
    <nav class="nav">
      <ul class="nav-links">
        <li><a href="{{site.baseurl}}/#about-charlie">About</a></li>
        <li><a href="{{site.baseurl}}/#work">Work</a></li>
        <li><a href="{{site.baseurl}}/#contact">Contact</a></li>
      </ul>
      <div class="nav-background"></div>
    </nav>
  </header>

  {{content}}

<!-- **********CONTACT********** -->
  <footer>
    <section class="contact" id="contact">
      <hr>
      <h3>Drop me a line, and I'll be in touch.</h3>
      <div class="social-media-bottom">
        <a href="mailto:hey@charliequinn.ca?Subject=Hello!" target="_top" title="E-mail Charlie Quinn"><div class="c-email"></div></a>
        <a href="https://ca.linkedin.com/in/charliequinngd" title="Contact Charlie Quinn on LinkedIn"><div class="c-linkedin"></div></a>
        <a href="https://twitter.com/charliequinn_" title="Contact Charlie Quinn on Twitter"><div class="c-twitter"></div></a>
        <a href="https://instagram.com/notenoughquinn/" title="Contact Charlie Quinn on Instagram"><div class="c-instagram"></div></a>
      </div>
    </section>
      <p class="copyright">Copyright © 2015 Charlie Quinn</p>
  </footer>

</body>
</html>
